nav ul a {
    color: #444;
    font-size: 1rem;
}

nav .brand-logo {
    color: #444;
    font-size: 1.3rem;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

footer.page-footer {
    margin: 0;
}

.advert-container {
    width: 500px;
    height: 500px;
    background-color: #ddd;
}

.demo{
    display: block;
    float: left;
}